@model List<BakerWebUI.Dtos.Abouts.ResultAboutDto>
@if (Model != null && Model.Any())
{
    var about = Model.First();
    <div id="about" class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row img-twice position-relative h-100">
                        <div class="col-6">
                            <img class="img-fluid rounded" src="~/baker-1.0.0/img/about-1.jpg" alt="">
                        </div>
                        <div class="col-6 align-self-end">
                            <img class="img-fluid rounded" src="~/baker-1.0.0/img/about-2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <h1 class="display-6 mb-4">@about.Title</h1>
                        <p>@about.Description</p>
                        <div class="row g-2 mb-4">
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-2"></i>Kaliteli Ürünler
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-2"></i>Özel Tasarım Ürünler
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-2"></i>Online Sipariş
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-2"></i>Eve Teslimat
                            </div>
                        </div>
                        <a class="btn btn-primary rounded-pill py-3 px-5" href="/Default#products">Ürünlerimiz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}