@model dynamic

<div class="container-fluid bg-dark text-light footer my-6 mb-0 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Adres Bilgileri</h4>
                @if (ViewBag.Address != null)
                {
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>@ViewBag.Address</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>@ViewBag.Phone</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>@ViewBag.Email</p>
                    <p class="mb-2"><i class="fa fa-clock me-3"></i>@ViewBag.OpenHours</p>
                }
                else
                {
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>İstiklal Caddesi No: 42, Beyoğlu, İstanbul</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+90 212 555 12 34</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@baker.com.tr</p>
                }
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Hızlı Erişim</h4>
                <a class="btn btn-link" href="/Default#about">Hakkımızda</a>
                <a class="btn btn-link" href="/Default#products">Ürünlerimiz</a>
                <a class="btn btn-link" href="/Default#services">Hizmetlerimiz</a>
                <a class="btn btn-link" href="/Default#team">Ekibimiz</a>
                <a class="btn btn-link" href="/Default#testimonials">Referanslar</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Çalışma Saatleri</h4>
                <p class="mb-1"><i class="fa fa-check text-primary me-2"></i>Pazartesi - Cuma: 07:00 - 21:00</p>
                <p class="mb-1"><i class="fa fa-check text-primary me-2"></i>Cumartesi: 07:00 - 22:00</p>
                <p class="mb-1"><i class="fa fa-check text-primary me-2"></i>Pazar: 08:00 - 18:00</p>
                <p class="mt-3 mb-1">Özel günlerde çalışma saatlerimiz değişebilir.</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Galeri</h4>
                <div class="row g-2">
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="~/baker-1.0.0/img/anne_kurabiyesi.png" alt="Image">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="~/baker-1.0.0/img/cavdar_ekmegi.png" alt="Image">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="~/baker-1.0.0/img/glutensiz_ekmek.png" alt="Image">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="~/baker-1.0.0/img/kiymali_borek.png" alt="Image">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="~/baker-1.0.0/img/zeytinli_focaccia.png" alt="Image">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="~/baker-1.0.0/img/vegan_tart.png" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Copyright Start -->
<div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy; 2026 <a href="/Default">Baker Fırıncılık</a>, Tüm Hakları Saklıdır.
            </div>
            <div class="col-md-6 text-center text-md-end">
                <span>Baker - 1995'ten Beri Taze Lezzetler</span>
            </div>
        </div>
    </div>
</div>